<!DOCTYPE html>
<html>
<head>
  <title>Showerthoughts</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
		<header>
		<div class="links">
			<%= link_to "Another!", root_path%>
		</div>
		<div class="links">
			<%= link_to 'Add yours', new_thought_path %>
		</div>
	</header>

	<hr />
	<br class="clear" />

<%= yield %>

</body>
</html>
